.da-library {
    color: #3d4c4f;
}

.da-navbar {
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f2;
    padding: 0 10px;
}

.da-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

.da-nav-right {
    float: right !important;
}

.da-nav-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.da-nav-form .da-form-input {
    padding: 6px 12px;
    outline: 0;
}

.da-list {
    padding: 10px;
}

.da-list:after {
    content: " ";
    content: " ";
    display: table;
    clear: both;
}

.da-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.da-list .da-card {
    display: block;
    position: relative;
    box-shadow: 0 0 0 1px #ebebeb;
    float: left;
    width: 300px;
    margin: 5px;
    cursor: pointer;
}

.da-list .da-card:hover .da-card-title {
    color: #b8e02e;
}

.da-list .da-card-image {
    line-height: 225px;
    text-align: center;
}

.da-list .da-card-image img {
    max-height: 225px;
    max-width: 100%;
    height: auto;
    width: auto;
    vertical-align: middle;
}

.da-list .da-card-title {
    padding: 0 5px;
    transition: color 100ms;
}

.da-list .da-card.empty .da-card-title {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.da-list .da-card.empty:hover .da-card-title {
    color: #3d4c4f;
}

.da-list .da-card.empty .da-card-image > div {
    height: 225px;
    margin: 5px;
    background: linear-gradient(#EEE, #fff);
}

.da-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.da-pagination ul li {
    display: inline-block;
    margin-right: 5px;
}

.da-pagination ul li a {
    display: block;
    background-color: rgb(70, 78, 84);
    color: white;
    padding: 6px 15px;
    cursor: pointer;
}

.da-pagination ul li a:hover {
    background-color: #b8cb3d;
}

.da-pagination ul li a.active {
    background-color: #b8cb3d;
    cursor: default;
}
